.form-card {
    width:60%;
}
.mat-form-field.mat-form-field {
    font-size: 16px;
}
.form {
    display: flex;
    flex-direction: column;
}
.form > * {
    width: 100%;
}
.text-header {
    font-size: medium;
}