/* You can add global styles to this file, and also import other style files */
.fade.show{
    display: block !important;
    opacity: 1;
}
.modal-content {
    top: 70px;
    border-radius: 0px !important;
}